# PyCharm and Notebooks
*.pyc
.idea/
.ipynb_checkpoints/
**/__pycache__/

# tex stuff
*.asv
*.synctex
*.lnk
*.tmp
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.DS_Store
*.nav
*.snm
*.tcp
*.toc
*.tps
lecture/*.pdf
!lecture/built/*.pdf
**/fig/**/*-eps-converted-to.pdf
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.nom
*.nomc
*.synctex(busy)
*.xmpi


# misc.
*.db
!.gitkeep
