numpy==1.23.5
matplotlib==3.7.1
scipy==1.8.0
pandas==1.4.2
openpyxl
seaborn==0.11.2
tqdm==4.65.0
jupyter==1.0.0
gymnasium==0.28.1
pygame==2.4.0
scikit-learn==1.1.2
torch
stable-baselines3
gym==0.21.0
pyglet==1.5.27